smartCalloutPlugin#smartCallout {
    margin: 11px 0px;
	padding: 20px;
    border: 1px solid @wcfContainerBorderColor;
    border-radius: @wcfContainerBorderRadius;
	
	> header {
    	margin-bottom: 5px;
		font-size: 18px;
	}
	
}

.smartCalloutLeft {
	border-left-width: 5px !important;
}
.smartCalloutRight {
	border-right-width: 5px !important;
}
